.contenedor {
    margin-top: 0px;
    width: 1263px;
    margin-left: -300px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.controlswrapper {
    width: 100%;
}

.carouselwrapper {
    width: 100%;
}