


.contenedor {
    margin-top: 0px;
    width: 1263px;
    margin-left: -300px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.controlswrapper {
    width: 100%;
}

.carouselwrapper {
    width: 100%;
}

    



@media (max-width: 410px) { 

    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
  
    
    .controlswrapper {
        width: 100%;
    }
    
    .carouselwrapper {
        width: 100%;
        margin-left: 35px;
    
    }
    
    
 
    
    
    
  }
  @media (max-width: 520px) { 

    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .controlswrapper {
        width: 100%;
    }
    
    .carouselwrapper {
        width: 100%;
          margin-left: 50px;
    }
    
    
}
@media (max-width: 360px) { 
    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 20px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .controlswrapper {
        width: 100%;
    }
    .carouselwrapper {
        width: 100%;
    }   
}

@media (max-width: 600px) { 

    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .controlswrapper {
        width: 100%;
    }
    
    .carouselwrapper {
        width: 100%;
          margin-left: 50px;
    }
    

}
@media (max-width: 720px) { 

    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .controlswrapper {
        width: 100%;
    }
    
    .carouselwrapper {
        width: 100%;
          margin-left: 0px;
    }
    
    
}

@media (max-width: 1000px) { 

    .contenedor {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }
    
    
    .controlswrapper {
        width: 100%;
     
    }
    
    .carouselwrapper {
        width: 100%;
          margin-left: 0px;
         
    }
    
    
}