.contactocontenedor {
    background-color: white;
    width: 1263px;
    height: 1250px;
    margin-top: 150px;
}

.contactotitulo {
    font-weight: 600;
    width: 50px;
    padding: 50px;
    margin-left: 450px;
    font-size: 50px;
    color: rgb(22, 22, 22);
    text-align: center;
}


.barraseparador {
    width: 120px;
    height: 10px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 580px;
    justify-content: center;
    background-color: rgb(222, 111, 26);
}

.contactogrid {
    display: flex;
    margin: 10px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;

}

.contactogridcontenedor {
   
    margin-left: 200px;

}
.contactogridtitulo {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -600px;
}
.contactogridcontenido {
    font-family: "Abril Fatface";
    margin-top: 20px;
    font-weight: bolder;
    line-height: 1.5em;
    font-size: 17px;
    width: 370px;
    margin-left: -600px;
    line-height: 26.4px;
}
.contactogridtitulocontenido {
    font-size: 24px;
    margin-left: 0px;
    margin-top: -100px;
    font-family: sans-serif;
    font-weight: bold;
}
.contactocontenido {
    font-size: 17px;
    margin-left: 0px;
    margin-top: 45px;
    line-height: 2.5em;
    font-family: sans-serif;
    font-weight: bold;
}
.contactonumero {
    font-size: 24px;
 
    margin-left: 0px;
    margin-top: 45px;
    font-family: sans-serif;
    font-weight: bold;
}
.barraseparadorinferior {
    width: 70px;
    height: 10px;

    margin-left: 0px;
    margin-top: 60px;
    justify-content: center;
    background-color: rgb(222, 111, 26);
}
.formulario {
    margin-top: 110px;
    justify-content: center;
    margin-left: -900px;

}
.formulario div {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.formulario label {
    word-break: break-word;
    display: inline-block;
    margin-left: -10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 15px;
    font-style: oblique;
}
.formulario input {
    width: 420px;
    height: 30px;
    background-color: rgb(216, 250, 250);
    box-sizing: border-box;
    border: 1px solid rgb(15, 1, 1);

}
.formulariobutton {
    background-color: black;
    /* Green */
    border: none;
    color: rgb(241, 126, 50);
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 300px;
}
.formulariobutton:hover {
    background-color: rgb(241, 126, 50);
    border: none;
    color: black;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 300px;
}
.imagen {
    width: 900px;
    height: 300px;
  margin-left: 160px
  };
.formulario textarea {
    background-color: rgb(216, 250, 250);
    resize: none;

}
/*

@media (max-width: 520px) { 

    .contactocontenedor {
        background-color: white;
        width: 100%;
        height: 100%;
        margin-top: -31px;
    }
    
    .contactotitulo {
        font-weight: 600;
        width: 50px;
        padding: 40px;
        margin-left: 90px;
        font-size: 35px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-bottom: 30px;
        margin-top: -30px;
        margin-left: 150px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    
    .contactogrid {
        display: flex;
     
        margin-left: 0px;
        margin-top: 30px;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .contactogridcontenedor {
        width: 100%;
        margin-left: -100px;
    
    }
    .contactogridtitulo {
        font-size: 17px;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 200px;
    }
    .contactogridcontenido {
        font-family: "Abril Fatface";
        margin-top: 15px;
        font-weight: bolder;
        line-height: 1.1em;
        font-size: 13px;
        width: 200px;
       margin-left: 200px;
    }
    .contactogridtitulocontenido {
        font-size: 17px;
        margin-left: 140px;
        margin-top: 0px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .contactocontenido {
        font-size: 15px;
        margin-left: 160px;
        margin-top: 20px;
        line-height: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
    }
    .contactonumero {
        font-size: 10px;
        margin-left: 160px;
        margin-top: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .barraseparadorinferior {
        width: 70px;
        height: 10px;
        margin-left: 160px;
        margin-top: 0px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .formulario {
        margin-top: 150px;
        justify-content: center;
margin-left: 20px;
    }
    .formulario div {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    }
    .formulario label {
        word-break: break-word;
        
        margin-left: 180px;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        font-size: 15px;
        font-style: oblique;
    }
    .formulario input {
        width: 350px;
        height: 30px;
        background-color: rgb(216, 250, 250);
        box-sizing: border-box;
        border: 1px solid rgb(15, 1, 1);
        margin-left: 180px;
    }
    .formulariobutton {
        background-color: black;
     
        border: none;
        color: rgb(241, 126, 50);
        padding: 5px 35px;
        text-align: center;
        text-decoration: none;
       
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 400px;
    }
    .formulariobutton:hover {
        background-color: rgb(241, 126, 50);
        border: none;
        color: black;
        padding: 5px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 50px;
    }
    .formulario textarea {
        background-color: rgb(216, 250, 250);
        resize: none;
        width: 350px!important;
        margin-left: 180px;
    }
    .imagen {
        width: 350px;
        height: 200px;
      margin-left: 60px
      
      };
       
}


*/
@media (max-width: 410px) { 

    .contactocontenedor {
        background-color: white;
        width: 100%;
        height: 100%;
        margin-top: -31px;
    }
    
    .contactotitulo {
        font-weight: 600;
        width: 50px;
        padding: 40px;
        margin-left: 70px;
        font-size: 35px;
   
        color: rgb(22, 22, 22);
        text-align: center;
    }
    
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-bottom: 30px;
        margin-top: -30px;
        margin-left: 150px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    
    .contactogrid {
        display: flex;
      
        margin-top: 30px;
        flex-direction: row;
        justify-content: center;
        width: 100%;

    }
    
    .contactogridcontenedor {
        width: 100%;
        margin-left: -40px;
    
    }
    .contactogridtitulo {
        font-size: 17px;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 30px;
    }
    .contactogridcontenido {
        font-family: "Abril Fatface";
        margin-top: 13px;
        font-weight: bolder;
        line-height: 1.0em;
        font-size: 13px;
        width: 190px;
       margin-left: 30px;
    }
    .contactogridtitulocontenido {
        font-size: 17px;
        margin-left: 235px;
        margin-top: -100px;
        width: 160px;
       
        font-family: sans-serif;
        font-weight: bold;
    }
    .contactocontenido {
        font-size: 10px;
        margin-left: 235px;
        margin-top: 20px;
        width: 160px;
      
        line-height: 1.4em;
        font-family: sans-serif;
        font-weight: bold;
    }
    .contactonumero {
        font-size: 10px;
        margin-left: 235px;
        margin-top: 10px;
        width: 160px;
     
        font-family: sans-serif;
        font-weight: bold;
    }
    .barraseparadorinferior {
        width: 50px;
        height: 7px;
        margin-left: 235px;
        margin-top: 0px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .formulario {
        
        margin-top: 140px;
        justify-content: center;
margin-left: -360px;
    }
    .formulario div {
        display: flex;
       
        margin-top: 10px;
        flex-direction: column;
    }
    .formulario label {
        word-break: break-word;
        display: inline-block;
        margin-left: -20px;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        font-size: 15px;
        font-style: oblique;
    }
    .formulario input {
        width: 350px;
        height: 30px;
        background-color: rgb(216, 250, 250);
        box-sizing: border-box;
        border: 1px solid rgb(15, 1, 1);
        margin-left: -20px;
    }
    .formulariobutton {
        background-color: black;
        /* Green */
        border: none;
        color: rgb(241, 126, 50);
        padding: 5px 35px;
        text-align: center;
        text-decoration: none;
      
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 180px;
    }
    .formulariobutton:hover {
        background-color: rgb(241, 126, 50);
        border: none;
        color: black;
        padding: 5px 35px;
      
      
        padding: 5px 35px;
        text-align: center;
        text-decoration: none;
      
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
        margin-left: 180px;
    }
    .formulario textarea {
        background-color: rgb(216, 250, 250);
        resize: none;
        width: 350px!important;
        margin-left: -20px;
    }
    .imagen {
       
        width: 300px;
        height: 200px;
      margin-left:40px
      
      };
       
}