.footer {
    margin: 10px;
    margin-top: 80px;
    justify-content: center;
    background-color: white;
}

.footer span {
    margin-left: 150px;
    font-size: 12px;
}

.footercontenedor {
    display: flex;
   
    flex-direction: row;
    width: auto;
    background-color: white;
}
@media (max-width: 410px) { 

    .footercontenedor {
        display: flex;
        margin-top: -20px;
        flex-direction: row;
        width: auto;
        background-color: white;
    }
  
    
    
  }
  @media (max-width: 520px) { 

    .footercontenedor {
        display: flex;
        margin-top: -10px;
        flex-direction: row;
        width: auto;
        background-color: white;
    }
  
    
}
@media (max-width: 360px) { 

  
    
    .footercontenedor {
        
        margin-top: -10px;
        
        width: auto;
        background-color: white;
    }
  
    
    
    
    
}