.footer {
    margin: 10px;
    margin-top: 80px;
    justify-content: center;
    background-color: white;
}

.footer span {
    margin-left: 150px;
    font-size: 12px;
}

.footercontenedor {
    display: flex;
   
    flex-direction: row;
    width: auto;
    background-color: white;
}