.navbar {
  height: 80px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(131, 132, 134);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  z-index: 1
}

.navbar-text {
  float: left;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  padding: 0rem 4rem;
}

.navbar-text:hover {
  color: rgb(231, 149, 16);
}

.svg1 {
  display: none;
}

.lista {
  --color: rgb(23, 23, 24);
}

.flex {
  display: flex;
  align-items: center;
}

.flex,
.lista__item--inner,
.lista__item--outer,
.lista--enlace {
  position: relative;
}

.lista {
  list-style: none;
  padding: 0;
  border: 1px solid var(--color);

  /* Permite establecer la anchura
       del elemento en función de su contenido */
  width: max-content;
}

.lista__item--outer:hover .lista--inner {
  display: block;
  animation: 300ms ease desplegar 1;
}

.lista__item--outer:not(:first-of-type) {
  border-left: 1px solid var(--color);
}

.lista__item--inner:not(:first-of-type) {
  border-top: 1px solid var(--color);
}

.lista__item {
  color: var(--color);
}

.lista__item,
.lista--enlace {
  transition: 300ms ease;
}

.lista__item--outer:hover,
.lista__item--outer:hover>.lista--enlace,
.lista__item--inner:hover,
.lista__item--inner:hover>.lista--enlace {
  background-color: var(--color);
  color: rgb(231, 149, 16);
  z-index: 10;
}

.lista--enlace {
  text-decoration: none;
  padding: 0 15px;
  color: white;
  min-height: 50px;
  text-align: center;
}

/* Submenú */
.lista--inner {
  display: none;
  position: absolute;
  margin: auto;


  transform-origin: center top;


  margin-left: -30px;
  text-align: center;
  top: 100%;
  padding: 0;

  height: 25px;

  min-width: 150px;
  max-width: 150px;
  color: rgb(236, 233, 227);
  background-color: rgb(19, 18, 18);
}

@keyframes desplegar {
  from {
    transform: scaleY(0.5);


  }
}


.logo {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}