.navbar {
  margin-top: -200px;
  height: 110px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(131, 132, 134);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  z-index: 1
}
.navbartext:hover a{
  color: rgb(231, 149, 16);
  text-decoration: none;
}
.navbartext {
  float: left;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 12px;
  padding: 0rem 2rem;
}

.navbartext:hover {
  color: rgb(231, 149, 16);
cursor:pointer
}

.flex,
.listaiteminner,
.listaitemouter,
.listaenlace {
  position: relative;
}

.listaiteminner:hover  a{
  color: rgb(231, 149, 16);
  text-decoration: none;

}
.listaiteminner {
  float: left;
  display: block;
  color: #f2f2f2;
  font-size: 12px;
  padding: 0.1rem 0.1rem 0.1rem;

}

.listaitemouter {
  float: left;
  display: block;
  color: #f2f2f2;
  font-size: 12px;
 
  list-style: none;
  padding: 0;
  border: 1px solid var(--color);
  text-decoration: none;
 
  margin-left: -50px;
margin-top: -17px;
}



.listaitemouter:hover .listainner {
  display: block;
  animation: 300ms ease desplegar 1;

}

.listaitemouter:not(:first-of-type) {
  border-left: 1px solid var(--color);
}


.listaiteminner:not(:first-of-type) {
  border-top: 1px solid var(--color);
}

.listaitem {
  color: var(--color);

}

.listaitem,
.listaenlace {
  transition: 300ms ease;
}

.listaitemouter:hover,
.listaitemouter:hover>.listaenlace,
.listaiteminner:hover,
.listaiteminner:hover>.listaenlace {
  background-color: var(--color);
  color: rgb(231, 149, 16)!important;
  z-index: 10;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.listaenlace {
  text-decoration: none;
  padding: 0 15px;
  color: white;
  min-height: 50px;
  text-align: center;
}

.listainner {
  display: none;
  position: absolute;
  margin: auto;
  transform-origin: center top;
  text-align: center;
  padding: 0;
  height: 125px;
 width: 70px;
  color: rgb(236, 233, 227);
  background-color: rgb(19, 18, 18);
}

@keyframes desplegar {
  from {
    transform: scaleY(0.5);


  }
}

.logo {
  margin-left: -0px;
  box-sizing: border-box;
  padding: 0px;
  margin-top: 40px;



}







.listaiteminnerr:hover,
.listaiteminnerr:hover>.listaenlace {
  background-color: var(--color);
  color: rgb(231, 149, 16)!important;
  z-index: 10;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 360px) { 

  .navbar {
    margin-top: -200px;
    height: 150px;
    background-color: rgb(131, 132, 134);
    background-color: rgb(131, 132, 134);
    opacity: 0.9;
    z-index: 1

  }
  .navbartext:hover a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  }
  .navbartext {


 
    color: #f2f2f2;
    text-decoration: none;
    font-size: 9px;
    padding: 0rem 0.5rem;

   
  }
  .navbardiv  {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -210px;
margin-top: 50px;
  

 
  }
  .navbartext:hover {
    color: rgb(231, 149, 16);
  cursor:pointer
  }

  
  .logo {
    margin-top:100px;
 margin-left:10px;
 width: 100px;
 height: 100px;

  
  }
  .flex,
  .listaiteminner,
  .listaitemouter,
  .listaenlace {
    position: relative;
  }
  
  .listaiteminner:hover  a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  
  }
  .listaiteminner {
    float: left;
  
    color: #f2f2f2;
    font-size: 9px;
    padding: 0.1rem 0.1rem 0.1rem;
  
  }
  
  .listaitemouter {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 9px;
    margin-left: -100px;
    list-style: none;
    padding: 0;
    border: 1px solid var(--color);
    text-decoration: none;
    margin-top: 0px;
  

  }
  
  .listaitemouter:hover .listainner {
    animation: 300ms ease desplegar 1;
  
  }
  .listaitemouter:not(:first-of-type) {
    border-left: 1px solid var(--color);
  }
  
  
  .listaiteminner:not(:first-of-type) {
    border-top: 1px solid var(--color);
  }
  
  .listaitem {
    color: var(--color);
  
  }
  
  .listaitem,
  .listaenlace {
    transition: 300ms ease;
  }
  
  .listaitemouter:hover,
  .listaitemouter:hover>.listaenlace,
  .listaiteminner:hover,
  .listaiteminner:hover>.listaenlace {
    background-color: var(--color);
    color: rgb(231, 149, 16)!important;
    z-index: 10;
    font-size: 9px;
    text-align: center;
    text-decoration: none;
  }
  
  .listaenlace {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    min-height: 50px;
    text-align: center;
  }
  
  .listainner {
    display: none;
    position: absolute;
    margin: auto;
    transform-origin: center top;
    text-align: center;
    padding: 0;
    height: 50px;
   width: 70px;
    color: rgb(236, 233, 227);
    background-color: rgb(19, 18, 18);
  }
  
  @keyframes desplegar {
    from {
      transform: scaleY(1.0);
  
  
    }
  }
}




@media (max-width: 520px) { 

  .navbar {
    margin-top: -200px;
    height: 180px;
    background-color: rgb(131, 132, 134);
    background-color: rgb(131, 132, 134);
    opacity: 0.9;
    z-index: 1

  }
  .navbartext:hover a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  }
  .navbartext {


 
    color: #f2f2f2;
    text-decoration: none;
    font-size: 10px;
    padding: 0rem 0.9rem;
  
   
  }
  .navbardiv  {

    margin-left: -400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;

  

 
  }
  .navbartext:hover {
    color: rgb(231, 149, 16);
  cursor:pointer
  }

  
  .logo {
    margin-top:10px;
    margin-left:180px;
 width: 90px;
 height: 90px;

  
  }
  .flex,
  .listaiteminner,
  .listaitemouter,
  .listaenlace {
    position: relative;
  }
  
  .listaiteminner:hover  a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  
  }
  .listaiteminner {
    float: left;
  
    color: #f2f2f2;
    font-size: 10px;
    padding: 0.1rem 0.1rem 0.1rem;
  
  }
  
  .listaitemouter {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 10px;
   
    list-style: none;
    padding: 0;
    border: 1px solid var(--color);
    text-decoration: none;
    margin-left: -200px;
    margin-top: 0px;

  }
  
  .listaitemouter:hover .listainner {
    animation: 300ms ease desplegar 1;
  
  }
  .listaitemouter:not(:first-of-type) {
    border-left: 1px solid var(--color);
  }
  
  
  .listaiteminner:not(:first-of-type) {
    border-top: 1px solid var(--color);
  }
  
  .listaitem {
    color: var(--color);
  
  }
  
  .listaitem,
  .listaenlace {
    transition: 300ms ease;
  }
  
  .listaitemouter:hover,
  .listaitemouter:hover>.listaenlace,
  .listaiteminner:hover,
  .listaiteminner:hover>.listaenlace {
    background-color: var(--color);
    color: rgb(231, 149, 16)!important;
    z-index: 10;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .listaenlace {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    min-height: 50px;
    text-align: center;
  }
  
  .listainner {
    display: none;
    position: absolute;
    margin: auto;
    transform-origin: center top;
    text-align: center;
    padding: 0;
    height: 50px;
   width: 70px;
    color: rgb(236, 233, 227);
    background-color: rgb(19, 18, 18);
  }
  
  @keyframes desplegar {
    from {
      transform: scaleY(1.0);
  
  
    }
  }
}


@media (max-width: 410px) { 
  .navbar {
    margin-top: -200px;
    height: 180px;
    background-color: rgb(131, 132, 134);
    background-color: rgb(131, 132, 134);
    opacity: 0.9;
    z-index: 1

  }
  .navbartext:hover a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  }
  .navbartext {


 
    color: #f2f2f2;
    text-decoration: none;
    font-size: 10px;
    padding: 0rem 0.7rem;
  
   
  }
  .navbardiv  {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -240px;
    margin-top: 95px;

 
  }
  .navbartext:hover {
    color: rgb(231, 149, 16);
  cursor:pointer
  }

  
  .logo {
    margin-top:10px;
    margin-left:140px;
 width: 80px;
 height: 80px;

  
  }
  .flex,
  .listaiteminner,
  .listaitemouter,
  .listaenlace {
    position: relative;
  }
  
  .listaiteminner:hover  a{
    color: rgb(231, 149, 16);
    text-decoration: none;
  
  }
  .listaiteminner {
    float: left;
  
    color: #f2f2f2;
    font-size: 10px;
    padding: 0.1rem 0.1rem 0.1rem;
  
  }
  
  .listaitemouter {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 10px;
   
    list-style: none;
    padding: 0;
    border: 1px solid var(--color);
    text-decoration: none;
margin-left: -200px;
    margin-top: 0px;

  }
  
  .listaitemouter:hover .listainner {
    animation: 300ms ease desplegar 1;
  
  }
  .listaitemouter:not(:first-of-type) {
    border-left: 1px solid var(--color);
  }
  
  
  .listaiteminner:not(:first-of-type) {
    border-top: 1px solid var(--color);
  }
  
  .listaitem {
    color: var(--color);
  
  }
  
  .listaitem,
  .listaenlace {
    transition: 300ms ease;
  }
  
  .listaitemouter:hover,
  .listaitemouter:hover>.listaenlace,
  .listaiteminner:hover,
  .listaiteminner:hover>.listaenlace {
    background-color: var(--color);
    color: rgb(231, 149, 16)!important;
    z-index: 10;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .listaenlace {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    min-height: 50px;
    text-align: center;
  }
  
  .listainner {
    display: none;
    position: absolute;
    margin: auto;
    transform-origin: center top;
    text-align: center;
    padding: 0;
    height: 50px;
   width: 70px;
    color: rgb(236, 233, 227);
    background-color: rgb(19, 18, 18);
  }
  
  @keyframes desplegar {
    from {
      transform: scaleY(1.0);
  
  
    }
  }
}