.proyectocontenedor {
    background-color: rgb(236, 243, 244);
    width: 1263px;
    height: 100%;
    margin-top: 250px;
}

.proyectotitulo {
    font-weight: 600;
    width: 50px;
    padding: 50px;
    margin-left: 450px;
    font-size: 50px;
    color: rgb(22, 22, 22);
    text-align: center;
}
.barraseparador {
    width: 120px;
    height: 10px;
    margin-top: -30px;
    margin-left: 600px;
    justify-content: center;
    background-color: rgb(222, 111, 26);
}
.container {
    justify-content: center;
}

.card {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-left: 150px;
    background-color: #f5f5f5;
}
.cardimagen {
    float: left;
    width: 460px;
    height: 490px;
    margin: 20px;
    background: #f5f5f5;
    padding-bottom: 10px;
}

.btnloadmore {
    padding: 10px 10px!important;
    margin: 20px 0 30px 0 !important;
 border-radius: 10%;
 font-size: 14px;
 border-color: rgba(194, 198, 202, 0.852);
    cursor: pointer;
}

.boton {
    clear: both;
}

.imagen:hover {
    opacity: 0.3;
}

.cardimagen:hover .text {
    display: block;
}

.text {
    display: none;
    overflow: hidden;
    text-align: center;
    margin-top: -279px;
    outline: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(121, 117, 117) !important;
    padding: 10px;
}
.separador {
    width: 120px;
    height: 10px;
    margin-bottom: 30px;
    margin-top: 110px;
    margin-left: 600px;
    justify-content: center;
    background-color: rgb(222, 111, 26);
}
@media (min-width: 990px) { 

    .proyectocontenedor {
        background-color: white;
        width: 1263px;
        height: 100%;
        margin-top: 200px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 50px;
        margin-left: 480px;
        font-size: 50px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -30px;
        margin-left: 630px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        margin-left: 130px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 460px;
        height: 490px;
        margin: 20px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 10px 10px!important;
        margin: 20px 0 30px 0 !important;
     border-radius: 10%;
     font-size: 14px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -279px;
        outline: 0;
        font-size: 20px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 10px;
        margin-bottom: 30px;
        margin-top: 110px;
        margin-left: 570px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }     
  
}
@media (max-width: 989px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -85px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 300px;
        font-size: 50px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 435px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 740px;
        margin: 0 auto;
        text-align: center;
        margin-left: 120px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 350px;
        height: 360px;
        margin: 10px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 5px 5px!important;
        margin-right: -20px!important;
        border-radius: 10%;
     font-size: 14px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -279px;
        outline: 0;
        font-size: 20px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 435px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }       
  
}
@media (max-width: 920px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -85px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 260px;
        font-size: 50px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 395px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 740px;
        margin: 0 auto;
        text-align: center;
        margin-left: 90px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 350px;
        height: 360px;
        margin: 10px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 5px 5px!important;
        margin-right: 40px!important;
        border-radius: 10%;
     font-size: 14px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -279px;
        outline: 0;
        font-size: 20px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 395px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }       
  
}
@media (max-width: 840px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -85px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 220px;
        font-size: 50px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 335px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 700px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 100px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 260px;
        height: 300px;
        margin: 20px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 5px 5px!important;
        margin-right: 90px!important;
     border-radius: 10%;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -160px;
        outline: 0;
        font-size: 14px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 335px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}


@media (max-width: 720px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -85px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 150px;
        font-size: 50px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 265px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 650px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 50px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 230px;
        height: 300px;
        margin: 20px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 3px 3px!important;
        margin-right: 90px!important;
     border-radius: 10%;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -140px;
        outline: 0;
        font-size: 14px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 265px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}





@media (max-width: 620px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -115px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 120px;
        font-size: 40px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 205px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        justify-content: center;
    }
    
    .card {
        width: 490px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 40px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 200px;
        height: 200px;
        margin: 20px;
        background: #f5f5f5;
        padding-bottom: 10px;
    }
    
    .btnloadmore {
        padding: 2px 2px!important;
        margin-right: 40px!important;
     border-radius: 10%;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -100px;
        outline: 0;
        font-size: 14px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 10px;
        
        margin-top: -10px;
        margin-left: 205px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}
@media (max-width: 520px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -115px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 120px;
        font-size: 30px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 10px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 180px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        display: flex;
        flex-direction: row;
      ;
    }
    
    .card {
        width: 390px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 80px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 170px;
        height: 170px;
        margin: 5px;
        background: #f5f5f5;
        padding-bottom: 5px;
    }
    
    .btnloadmore {
        padding: 2px 2px!important;
        margin-left: 10px;
     border-radius: 10%;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -100px;
        outline: 0;
        font-size: 14px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 100px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 195px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}

@media (max-width: 410px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -222px;
    }
    
    .proyectotitulo {
        font-weight: 700;
        width: 50px;
        padding: 30px;
        margin-left: 90px;
        font-size: 30px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 120px;
        height: 7px;
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 150px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        display: flex;
        flex-direction: row;
      ;
    }
    
    .card {
        width: 280px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 80px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 120px;
        height: 150px;
        margin: 5px;
        background: #f5f5f5;
        padding-bottom: 5px;
    }
    
    .btnloadmore {
        padding: 2px 2px!important;
        margin-right: 20px!important;
     border-radius: 10%;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -100px;
        outline: 0;
        font-size: 12px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 120px;
        height: 8px;
        
        margin-top: -10px;
        margin-left: 150px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}

@media (max-width: 360px) { 

    .proyectocontenedor {
        background-color: rgb(236, 243, 244);
        width: 100%;
        height: 100%;
        margin-top: -330px;
    }
    
    .proyectotitulo {
        font-weight: 600;
        width: 50px;
        padding: 30px;
        margin-left: 60px;
        font-size: 20px;
        color: rgb(22, 22, 22);
        text-align: center;
    }
    .barraseparador {
        width: 60px;
        height: 5px;
        margin-top: -5px;
        margin-bottom: 10px;
        margin-left: 100px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }
    .container {
        display: flex;
        flex-direction: row;
      ;
    }
    
    .card {
        width: 250px;
  
        margin: 0 auto;
        text-align: center;
        margin-left: 40px;
        background-color: #f5f5f5;
    }
    .cardimagen {
        float: left;
        width: 100px;
        height: 150px;
        margin: 5px;
        background: #f5f5f5;
        padding-bottom: 5px;
    }
    
    .btnloadmore {
        padding: 2px 2px!important;
        margin-left: -30px;
     border-radius: 10%;
     border-top: 0px;
     font-size: 8px;
     border-color: rgba(194, 198, 202, 0.852);
        cursor: pointer;
    }
    
    .boton {
        clear: both;
    }
    
    .imagen:hover {
        opacity: 0.3;
    }
    
    .cardimagen:hover .text {
        display: block;
    }
    
    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        margin-top: -70px;
        outline: 0;
        font-size: 11px;
        font-weight: bold;
        color: rgb(121, 117, 117) !important;
        padding: 10px;
    }
    .separador {
        width: 50px;
        height: 8px;
        margin-top: -10px;
        margin-left: 140px;
        justify-content: center;
        background-color: rgb(222, 111, 26);
    }   
  
}
